{% extends "admin/admin_home.html" %}
{% block content %}
{% load crispy_forms_tags %}

    <div class="content">
        <h2 class="font-weight-bold mt-3">Change Password</h2>
        <form method="POST" >
            {% csrf_token %}
            {{ form | crispy }}<br>
            <button type="submit" class="btn btn-success">Save changes</button>
        </form>
    </div>
    <style>
        button{
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
        }

        .logout{
                display: block;
                color: black;
                padding: 10px;
                padding-left: 20px;
                font-size: 17px;
                font-weight: bold;
                text-decoration: none;
            }
    </style>
{% endblock %}